.pb-3-devis {
    padding-bottom: 15px;
}
.alert-service{
    border-style: dashed;
    border-width: 2px;
    border-color: #028329;
}

.ts-testimonials-container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.ts-testimonials {
    display: flex;
    transition: transform 0.5s ease;
}

.ts-testimonial {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: #f9f9f9;
    margin: 0 10px;
    text-align: center;
}

/* Avatar et Infos */
.ts-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 15px;
}

.ts-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.ts-position {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 10px;
}

/* Message */
.ts-message {
    font-style: italic;
    margin-bottom: 10px;
}

/* Étoiles */
.ts-stars {
    color: #FFD700;
}

/* Boutons de navigation */
.ts-nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.ts-nav-button {
    background: #6ec25b;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

/* Responsive */
@media (min-width: 768px) {
    .ts-testimonial {
        flex: 1 0 33.33%;
        max-width: 33.33%;
    }
}
