a:focus,
a:hover,
.read-more,
#quick-links > li > a,
#social-links > li a:hover,
.service-box > .icon-container > i,
a:hover h1,
a:hover h2,
a:hover h3,
a:hover h4,
a:hover h5,
a:hover h6,
.odometer.odometer-auto-theme,
.odometer.odometer-theme-default,
.odometer-inner > i,
.cta-social > li > a:hover,
#footer-wrapper a:hover,
.widget > ul > li::before,
.contact-info-list > li > i,
.header-style-02 .header-info-widgets > ul > li .text-container a:hover,
.header-style-02 .navbar-default .navbar-nav > li.current-menu-item > a,
.header-style-02 .navbar-default .navbar-nav > li > a:hover,
.fa-ul.large-icons > li .icon-container,
#footer-wrapper .pi-latest-posts-02 .post-body h4:hover,
.pi-latest-posts-02 .post-body h4:hover,
.featured-page-box > .body h2::before,
.featured-page-box > .body h3::before,
.featured-page-box > .body h4::before,
.featured-page-box > .body h5::before,
.featured-page-box > .body h6::before,
.page-content.dark .odometer-value,
.service-box.service-box-listed .icon-container > i,
.banner-box > i,
.page-content.dark .odometer-container .digit-mark,
.breadcrumb > li > a:hover,
a.download-link::before,
.feature-box .icon-container i,
.company-timeline .icon-date-container i,
.fa-ul.default i,
.text-colored,
p.text-colored,
.pricing-table .price span,
.cases-grid .portfolio-item .body h2::before,
.cases-grid .portfolio-item .body h3::before,
.cases-grid .portfolio-item .body h4::before,
.cases-grid .portfolio-item .body h5::before,
.cases-grid .portfolio-item .body h6::before,
.pi-latest-posts-03 > li > a:hover,
.widget > .pi-latest-posts-03 > li > a:hover,
.post-comments > ul.comments-li > li .comment .comment-meta > li a:hover,
.portfolio-blog-nav-simple p > a::after,
.portfolio-blog-nav-simple p > a:hover,
.tabs-container.tabs-simple > .tabs > li.active > a,
.tabs-container.tabs-simple > .tabs > li:hover a,
.tabs-container.tabs-theme > .tabs > li.active a,
.tabs-container.tabs-theme > .tabs > li:hover a,
.header-cart .cart-container a:hover,
.page-title-style-03 .breadcrumb > li > span.active,
.widget_nav_menu .menu-item > a:hover:after{
    color: #6ec25b
}

#quick-links > li > a::before,
.btn,
.read-more::after,
.newsletter-widget .submit,
.accordion > .title::before,
.testimonial-style-02::before,
.wpcf7 .wpcf7-submit,
.header-style-02.header-negative-bottom #search,
.featured-page-box > .body::before,
.fa-ul.ul-circled .icon-container,
.custom-heading-03::before,
.company-timeline .timeline-item-details h1::before,
.company-timeline .timeline-item-details h2::before,
.company-timeline .timeline-item-details h3::before,
.company-timeline .timeline-item-details h4::before,
.company-timeline .timeline-item-details h5::before,
.company-timeline .timeline-item-details h6::before,
.cases-grid .portfolio-item .body::before,
.pagination li.active a,
.pagination > ul > li:hover > a,
#filters > li::before,
#filters > li.filter-button.is-checked::before,
.tagcloud > a:hover,
.comment-form-container .form-submit #comment-reply,
.text-highlighted,
.divider-scroll-up .scroll-up:hover,
.scroll-up:hover,
.tabs-container.tabs-dark > .tabs > li.active a,
.tabs-container.tabs-dark > .tabs > li:hover a,
.header-cart .cart-container a .cart-count {
    background-color: #6ec25b;
}

.circle-icon-animate {
    stroke: #6ec25b;
}

blockquote {
    border-color: #6ec25b;
}

.newsletter-widget .submit:hover,
.wpcf7 .wpcf7-submit:hover,
.comment-form-container .form-submit #comment-reply:hover {
    background-color: #59b744;
}

::-moz-selection {
    color: #fff;
    background: #6ec25b;
}

::selection {
    color: #fff;
    background: #6ec25b;
}
